:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --bg-color-main-footer: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
}
/* Убирание точек впереди списков */
.list {
  list-style: none;
}
/* Общие цвета текста */
.section-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  /* text-transform: uppercase; */
  color: var(--title-text-color);
}

.section-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;

  /* identical to box height */
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* Шапка сайта и навигация */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  color: var(--accent-color);
  text-decoration: none;
}

.accent {
  color: var(--title-text-color);
}
.accent-white {
  color: var(--primary-white-color);
}
/* .nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: #212121;
} */
.header-nav .link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}
/* .link {
  text-decoration: none;
} */
/* .link-adress {
  text-decoration: none;
} */
.link.current {
  color: var(--accent-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link-adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  text-decoration: none;
}
/* .link-adress {
  color: var(--accent-color);
} */
.link-adress:hover,
.link-adress:focus {
  color: var(--accent-color);
}

.main-section {
  background-color: var(--bg-color-main-footer);
}
.main-bg {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  /* or 136% */
  /* text-align: center; */
  letter-spacing: 0.06em;
  /* text-transform: uppercase; */
  color: var(--primary-white-color);
}

/* .button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
} */

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  /* identical to box height, or 188% */
  /* display: flex;
  align-items: center;
  text-align: center; */
  letter-spacing: 0.06em;

  cursor: pointer;

  border: none;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border-radius: 4px;
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--accent-color);
}

/* Footer */
.footer-menu {
  background-color: var(--bg-color-main-footer);
}

.footer-menu-address {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  /* or 171% */
  letter-spacing: 0.03em;
}

.footer-link-adressmaps {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  /* or 171% */
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
  text-decoration: none;
}

.footer-link-adressmaps:hover,
.footer-link-adressmaps:focus {
  color: var(--accent-color);
}

.footer-link-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  /* or 171% */
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-link-adress:hover,
.footer-link-adress:focus {
  color: var(--accent-color);
}

/* .header-link-adress:active {
  color: teal;
} */

/* Портфолио */

.link.current {
  color: var(--accent-color);
}
/* Портфолио */
/* Кнопки */
.button.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.title-name {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;

  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
